<div style="height: 80vh">
    <div [hidden]="timeout" class="flex-center flex-column animated fadeIn">
        <h1 class="animated fadeIn mb-4">Connecting to Steem</h1>
        <div class="container">
            <div class="progress md-progress defauler-color-dark" style="height:10px">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div [hidden]="!timeout" class="flex-center flex-column animated fadeIn">
        <h1 class="mb-4">Conection Time Out !!</h1>
    </div>
  </div>