:host, .deploy-container {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    color: white;
    background-color: black;
    .btn {
        top: 150px;
        left: 20px;
        position: absolute;
    }
}
