<ng-template comp-host></ng-template>

<!--
<test-comp #main></test-comp>
-->

<!--

<div style="background-color: black; color: white; display: inline-block;" [ngStyle]="{'width': app.device.width+'px', 'height':app.device.height+'px'}">
  <div class="flex-center flex-column animated fadeIn">
      <h1 [hidden]="!vapaee.logged">{{vapaee.user_name}}</h1>
      <h1 [hidden]="vapaee.logged">Not Logged</h1>
      <h3>{{app.device.width}} x {{app.device.height}}</h3>
      <div [hidden]="!app.device.small">Small</div>
      <div [hidden]="!app.device.tiny">Tiny</div>
      <div [hidden]="!app.device.portrait">Portrait</div>
      <div [hidden]="!app.device.wide">Wide</div>
  </div>
</div>

-->