:host {
    display: block;

    .btn-1 {
        bottom: 150px;
        left: 20px;
        position: absolute;
    }
    .btn-2 {
        bottom: 100px;
        left: 20px;
        position: absolute;
    }
    .btn-3 {
        bottom: 50px;
        left: 20px;
        position: absolute;
    }    
    .inventory-box {
        .card-body {
            background: #212529;
            // border: 5px inset #d0d0d0;
            .col {
                text-align: center;
                padding: 10px;
            }
            .row {
                margin-left: 0px;
                margin-right: 0px;
                .countdown-container {
                    display: flex;
                    text-align: center;
                    align-self: center;
                    flex-grow: 1;
                    padding: 10px;
                    -webkit-animation-delay: 0.2s;
                    -moz-animation-delay: 0.2s;
                    animation-delay: 0.2s;
                }
                .card-container {
                    flex-grow: 0;
                    padding: 10px;
                }
            }
        }
    }
}
