:host {
    display: flex;
    height: calc(100% - 71px);
    .btn-1 {
        bottom: 150px;
        left: 20px;
        position: absolute;
    }
    .btn-2 {
        bottom: 100px;
        left: 20px;
        position: absolute;
    }
    .btn-3 {
        bottom: 50px;
        left: 20px;
        position: absolute;
    }    
    .inventory-box {
        background: grey;
        border: 10px inset darkcyan;
        
        .col {
            text-align: center;
            padding: 10px;
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}