<div class="container margin-bottom-lg">
    <!--section class="finally-comments"
        data-id="https://steemit.com/spanish/@viterbo/nuevo-lenguaje-inclusivo-les-diputades"
        data-reputation="true"
        data-values="true"
        data-profile="true"
        data-generated="false"
        data-guestComments="true"
    >
    </section-->
    <div class="card margin-top-xl opaque-at-work inventory-box">
        <h3 class="card-header primary-color white-text">
            Inventory
        </h3>
        <div class="card-body">
            <div class="row" *ngFor="let row of slots">
                <div class="col" *ngFor="let slot of row">
                    <slot-comp [data]="slot"></slot-comp>
                </div>
            </div>
            <div class="row daily-card-box">
                <!--  COUNTDOWN  -->
                <div class="col-12" *ngIf="!dailycard.claimable">
                    <div class="countdown-container flex-center flex-column flip-clock-wrapper color-white animated fadeIn">
                        <div class="count-down hide-at-work"></div>
                        <h1>Free Daily Prize</h1>
                    </div>
                </div>
                <!--  CLAIM PRIZE  -->
                <div class="col" *ngIf="dailycard.claimable">
                    <slot-comp [data]="dailycard" (click)="claimDailyPrize()"></slot-comp>
                </div>
                <div class="col-9" *ngIf="dailycard.claimable">
                    <div class="flex-center flex-column color-white animated fadeIn">
                        <a class="btn btn-success btn-lg waves-effect waves-light"
                            [ngClass]="{'disabled': claimBtnDisabled}"
                            (click)="claimDailyPrize()"
                        >
                            Claim your daily price
                        </a>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col">
                    <div class="left-aligned bg-color-white color-black">
                        <pre>{{dailycard|json}}</pre>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

</div>






<!--
<a class="btn btn-1 btn-default btn-sm my-0 ml-3 waves-effect waves-light" (click)="containers.print()">
    Containers
</a>
<a class="btn btn-2 btn-default btn-sm my-0 ml-3 waves-effect waves-light" (click)="cnt.print()">
    Data
</a>
<a class="btn btn-3 btn-primary btn-sm my-0 ml-3 waves-effect waves-light" (click)="getDailyPrice()">
    Daily Prize
</a>
-->