:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .col {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        &.padding {
            padding: 30px;
        }
    }
    .row {
        flex-grow: 1;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (min-width: 1200px) {
    :host .col.padding {
        padding: 25px;
    }
}
@media (min-width: 768px) {
    :host .col.padding {
        padding: 18px;
    }
}
@media (min-width: 576px) {
    :host .col.padding {
        padding: 14px;
    }
}