<div class="row" [ngClass]="getRowClass(row)" *ngFor="let row of rows" [ngStyle]="{'flex-grow': row.grow, 'max-height': row.maxheight}">
    <div class="col" [ngStyle]="{'flex-grow': col.grow, 'height': col.height}"
        [ngClass]="getColClass(col)"
        *ngFor="let col of row.cols">
        <ng-template *ngIf="!col.rows && !col.empty" comp-host></ng-template>
        <pre [hidden]="true">{{col|json}}</pre>
        <div class="row" *ngFor="let col_row of col.rows || []" [ngClass]="getRowClass(col_row)" [ngStyle]="{'flex-grow': col_row.grow, 'max-height': col_row.maxheight}">
            <div class="col" [ngStyle]="{'flex-grow': col_row_col.grow}"
                [ngClass]="getColClass(col_row_col)"
                *ngFor="let col_row_col of col_row.cols">
                <ng-template comp-host *ngIf="!col_row_col.empty"></ng-template>
            </div>
        </div>
    </div>
</div>

<!--pre class="text-left">
    {{rows|json}}
</pre-->