:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .col {
        display: flex;
        padding-left: 0;
        padding-right: 0;

    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

