:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.header {
    // background-color: darkslategray;
    display: flex;
    // position: relative;
}

.main {
    // background-color:indigo;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    // position: relative;
}

.footer {
    // background-color: gray;
    display: flex;
    // position: relative;
}

