.header {
    background-color: darkslategray;
    display: flex;
}

.main {
    background-color:indigo;
    flex-grow: 1;
    display: flex;
}

.footer {
    background-color: gray;
    display: flex;
}

.row-three {
    display: flex;
    flex-direction: column;
}