:host {
    display: flex;
    flex-grow: 1;
    align-items: center;
    .btn-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        a {
            color: currentColor;
            span {
                white-space: nowrap;
                color: currentColor;
                i {
                    color: currentColor;
                }
            }
        }
    }
}