<router-outlet></router-outlet>

<div mdbModal #loginModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myloginModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header vapaee-logo-container">
                <div class="text-center animated fadeIn" style="width: 100%">
                    <br>
                    <img src="https://steemconnect.com/img/logo-white.svg" style="width: 250px">
                    <!--img src="http://accounts.vapaee.com/catalog/view/theme/vapaee/image/Logo.png" style="width: 250px"-->
                    <br>
                    <br>
                </div>
            </div>
            <div class="modal-body">
                <div id="icon-panel" class="text-center panel panel-default animated fadeIn">
                    <a [href]="steem.url"><h4>Login with your steem account</h4></a>
                    <!--
                    <h4>Login with any social account</h4>
                    <br>
                    <a class="margin-left" href="http://accounts.vapaee.com/index.php?route=extension/module/hybrid&amp;provider=Google&amp;redirect=aHR0cDovL2NhcmRzYW5kdG9rZW5zLmNvbS8=">
                        <img src="http://accounts.vapaee.com/image/themezee_social_icons/google.png" alt="Google" title="Google">
                    </a>
                    <a class="margin-left" href="http://accounts.vapaee.com/index.php?route=extension/module/hybrid&amp;provider=GitHub&amp;redirect=aHR0cDovL2NhcmRzYW5kdG9rZW5zLmNvbS8=">
                        <img src="http://accounts.vapaee.com/image/themezee_social_icons/github.png" alt="GitHub" title="GitHub">
                    </a>
                    <a class="margin-left" href="http://accounts.vapaee.com/index.php?route=extension/module/hybrid&amp;provider=Twitter&amp;redirect=aHR0cDovL2NhcmRzYW5kdG9rZW5zLmNvbS8=">
                        <img src="http://accounts.vapaee.com/image/themezee_social_icons/twitter.png" alt="Twitter" title="Twitter">
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
  </div>