.vapaee-logo-container {
    background-color: #bed1c2;
    background-image: -moz-linear-gradient(top, #47584a 0%, #252c27 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #47584a), color-stop(100%, #252c27));
    background-image: -webkit-linear-gradient(top, #47584a 0%, #252c27 100%);
    background-image: -o-linear-gradient(top, #47584a 0%, #252c27 100%);
    background-image: -ms-linear-gradient(top, #47584a 0%, #252c27 100%);
    background-image: linear-gradient(to bottom, #47584a 0%, #252c27 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47584a, endColorstr=#252c27, GradientType=0);
    background-repeat: no-repeat;
}

