
<div class="flex-center flex-column hide-at-work animated fadeIn">
    
    <div class="container">
        <div class="jumbotron text-center margin-top-lg">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YSVJgKsSobA" allowfullscreen></iframe>
            </div>
            <div class="mb-4 margin-top-lg" [hidden]="vapaee.logged">
                <button type="button" class="btn btn-primary relative waves-light" (click)="steem.askForLogin()" mdbRippleRadius>Login</button>
            </div>            
        </div>            
    </div>
</div>


