
<div class="flex-center flex-column hide-at-work animated fadeIn">
    <div class="container flex-center flex-column" style="height: 90%">
        <div [hidden]="app.countdown == 0" class="black-text hide-at-work">
            <h1 class="d-none d-xl-block">countdown for the release...</h1>
            <h2 class="d-none d-lg-block d-xl-none">countdown for the release...</h2>
            <h3 class="d-none d-md-block d-lg-none">countdown for the release...</h3>
            <h4 class="d-sm-block d-md-none">countdown for the release...</h4>
        </div>
        <div class="card elegant-color flex-center flex-column hide-at-work" style="flex-grow: 1; width:100%">
            <div class="text-center margin-top-lg flip-clock-wrapper flex-center flex-column" style="flex-grow: 1; width:100%">
                <div class="count-down light" [hidden]="app.countdown == 0"></div>
                <div class="margin padding elegant-color-dark border-radius flex-center flex-column" style="flex-grow: 1; width:100%">
                    <div class="text-center margin-top-lg padding flex-center flex-column" style="flex-grow: 1; width:100%">
                        <iframe style="height: 100%; width: 100%; border: 0px;" class="embed-responsive-item" src="https://www.youtube.com/embed/YSVJgKsSobA" allowfullscreen ></iframe>
                    </div>
                </div>
                <div class="mb-4 margin-top" [hidden]="vapaee.logged || app.countdown != 0">
                    <button type="button" class="btn btn-primary relative waves-light" (click)="steem.askForLogin({'header':'steemconnect'})" mdbRippleRadius>Login</button>
                </div>                
            </div>            
        </div>
    </div>
</div>


