:host {
    display: flex;
    flex-grow: 1;
    &.float {
        position: absolute;
        top:0; left:0; bottom:0; right:0;
    }
    &.expand {
        height: 100%
    }
}

.bg-container {
    display: flex;
    flex-grow: 1;
}

.fadeinside {
    
}

@media (min-width: 1200px) {
    .bg-container.padding { padding: 25px; }
}
@media (min-width: 768px) {
    .bg-container.padding { padding: 18px; }
    .bg-container.padding-sm { padding: 5px; }
}
@media (min-width: 576px) {
    .bg-container.padding { padding: 14px; }
    .bg-container.padding-sm { padding: 3px; }
}