:host {
    width: 160px;
    height: 217px;
    display: block;
    .slot-container {
        padding: 10px;
        background-color: rgba($color: #fff, $alpha: 0.4);
        border-radius: 10px;
        &.accepting-drop {
            background-color: green;
        }
    }
}

.placeholder {
    border: 1px solid gray;
    width: 140px;
    height: 197px;
    border-radius: 10px;
}

.slot-number {
    position: absolute;
    top: 15px;
    left: 15px;
}

