<div class="container margin-top-lg text-center">

    <div class="card margin-lg text-center d-block">
        <div class="card-head text-xl">
            Steemit OpenMic Trading Cards Ranking
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-elegant" routerLink="/cards/ranking">See the Ranking</a>
        </div>
    </div>

    <hr>

    <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block"
        *ngFor="let card of cnt.cards"
        (click)="deployCard(card, $event)"
        [ngStyle]="getCardStyle(card)"
    >
        
        <img [id]="card.slug" [src]="card.edition.preview.images.thumbnail" class="card-img">
    </div>

    <!--hr>
    <pre>{{cnt.deploy|json}}</pre-->
</div>