.card-img {
    opacity: 0;
}

.cnt-card {
    height: 100px;
    width: 71.06px;
    vertical-align: top;
}

@media (min-width: 576px) {
    div.cnt-card {
        height: 118.2px;
        width: 84px;
    }
}

@media (min-width: 768px) {
    div.cnt-card {
        height: 147.75px;
        width: 105px;
    }    
}

@media (min-width: 992px) {
    div.cnt-card {
        height: 157.6px;
        width: 112px;
    }
}


@media (min-width: 1200px) {
    div.cnt-card {
        height: 197px;
        width: 140px;
    }
}
