<div class="inventory-container" (window:resize)="onResize($event)" [ngClass]="{'vertical':data.vertical, 'horizontal':!data.vertical}">
    <div class="inventory-prev flex-center flex-column" [hidden]="max==0">
        <a class="btn-floating btn-sm btn-outline-default btn-rounded waves-effect purple-gradient" (click)="prev()">
            <i [hidden]="data.vertical" class="fa fa-angle-left" aria-hidden="true"></i>
            <i [hidden]="!data.vertical" class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </div>
    <div class="inventory-slots">
        <div class="inventory-scroll">
            <div class="inventory-scroll-content" [ngStyle]="{'text-align': max==0 ? 'center' : 'left' }">
                <div class="inventory-scroll-item" [ngStyle]="slot.style" *ngFor="let slot of slots">
                    <slot-comp [data]="slot"></slot-comp>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-next flex-center flex-column"  [hidden]="max==0">
        <a class="btn-floating btn-sm btn-outline-default btn-rounded waves-effect purple-gradient" (click)="next()">
            <i [hidden]="data.vertical" class="fa fa-angle-right" aria-hidden="true"></i></i>
            <i [hidden]="!data.vertical" class="fa fa-angle-up" aria-hidden="true"></i>
        </a>
    </div>
</div>
