<div class="card margin-top-xl opaque-at-work inventory-box">
    <button class="btn btn-primary" (click)="steem.pruebaDePost()">POST as {{steem.user.name}}</button>
</div>

<div *ngIf="vapaee.isAdmin" class="container margin-bottom-lg">
    <div class="card margin-top-xl opaque-at-work inventory-box">
        <h3 class="card-header default-color">
            Editor
        </h3>
        <button class="btn btn-danger btn-rounded waves-effect" (click)="arreglarDataAux()">arreglar data aux</button>
        <button class="btn btn-danger btn-rounded waves-effect" (click)="crearCartasAPartirDeDataAux()">crear cartas a partir de data aux</button>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <!-- Form -->
                    <form class="text-center">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.week" placeholder="(week)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.position" placeholder="(position)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.slug" placeholder="(slug)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.youtube" placeholder="(youtube)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.steemuser" placeholder="(steemuser)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.permlink" placeholder="(permlink)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.title" placeholder="(title)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.color" placeholder="(color)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.bgimage" placeholder="(bgimage)" [ngModelOptions]="{standalone: true}">

                        <input type="text" class="form-control mb-4" [(ngModel)]="model.link" placeholder="(link)" [ngModelOptions]="{standalone: true}">


                        <div class="d-flex">
                            <div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="original" [(ngModel)]="model.original" [ngModelOptions]="{standalone: true}">
                                    <label class="custom-control-label" for="original">Original</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="has_lyrics" [(ngModel)]="model.has_lyrics" [ngModelOptions]="{standalone: true}">
                                    <label class="custom-control-label" for="has_lyrics">Lyrics</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex margin-top" [hidden]="!model.has_lyrics" >
                            <a [ngHref]="model.link" target="_blank">link</a>
                        </div>

                        <textarea [hidden]="!model.has_lyrics" class="form-control mb-4" style="height: 500px;" [(ngModel)]="model.lyrics" [ngModelOptions]="{standalone: true}">
                            
                        </textarea>
                        
                
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="saveCardDataAux()">Save Card Data</button>
                
                    </form>
                </div>
            </div>
            <!--div class="row">
                <div class="col">
                    <pre>{{model|json}}</pre>
                </div>
            </div-->
        </div>
    </div>
</div>


<comming-soon-page *ngIf="!vapaee.isAdmin">
    
</comming-soon-page>

