/* You can add global styles to this file, and also import other style files */
@import "./bootstrap-extension.scss";

body, html {
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
}

.margin-left {
    margin-left: 4px;
}

.expand {
    width: 100%;
    height: 100%;
    position: relative;
}

.expand-float {
    top: 0; left: 0; bottom: 0; right: 0; 
    position: absolute;
}

.flex-grow {
    flex-grow: 1;
}

body.hide-at-work {
    .hide-at-work {
        opacity: 0;   
    }

    .opaque-at-work, .opaque-at-work * {
        background: white !important;
        color: black !important;
        box-shadow: none !important;
        border: 0px;
    }
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none !important;
}

markdown.text-light pre {
    color: #d4d4d4;
}

markdown img {
    max-width: 100%;
}







// flip-clock responsive ----------------------
.light .flipclock-dot {
    background: #cccccc;
}
.flipclock-wrapper {
    background:transparent !important;
    width: auto !important;
}
span.flipclock-label {
    color: white !important;
    text-transform: capitalize;
}
/*
@media (max-width: 768px) {
    .flip-clock-wrapper {
        .flipclock-divider {
            width: 16px;
            height: 86px;
            &.seconds .flipclock-label {
                right: -79px;
            }
            &.minutes .flipclock-label {
                right: -77px;
            }
            &.hours .flipclock-label {
                right: -73px;
            }
            &.days .flipclock-label {
                right: -71px;
            }
            .flipclock-dot {
                left: 4px;
                width: 8px;
                height: 8px;
            }
        }
        ul {
            margin: 5px;
            width: 48px;
            height: 72px;
            border-radius: 5px;
            li {
                line-height: 74px;
                a div div.inn {
                    font-size: 64px;
                }
            }
        }
    }
}
*/

@media (max-width: 768px) {
    .flip-clock-wrapper {
        .flipclock-divider {
            width: 10px;
            height: 52px;
            &.seconds .flipclock-label {
                right: -72px;
            }
            &.minutes .flipclock-label {
                right: -70px;
            }
            &.hours .flipclock-label {
                right: -65px;
            }
            &.days .flipclock-label {
                right: -62px;
            }
            .flipclock-dot {
                left: 2px;
                width: 6px;
                height: 6px;
            }
        }
        ul {
            margin: 5px;
            width: 29px;
            height: 43px;
            border-radius: 3px;
            li {
                line-height: 44px;
                a div div.inn {
                    font-size: 38px;
                }
            }
        }
    }
}


@media (max-width: 576px) {
    .flip-clock-wrapper {
        .flipclock-divider {
            width: 5px;
            height: 49px;
            .flipclock-label {
                font-size: .60em;
            }
            &.seconds .flipclock-label {
                right: -42px;
            }
            &.minutes .flipclock-label {
                right: -40px;
                right: -52px;
            }
            &.hours .flipclock-label {
                right: -45px;
            }
            &.days .flipclock-label {
                right: -42px;
                right: -45px;
            }
            .flipclock-dot.top {
                top: 26px;
            }
            .flipclock-dot {
                left: 1px;
                width: 4px;
                height: 4px;
            }
        }
        ul {
            padding: 0px;
            margin: 3px;
            width: 25px;
            height: 36px;
            border-radius: 2px;
            li {
                line-height: 37px;
                a div div.inn {
                    font-size: 31px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .flip-clock-wrapper {
        .flipclock-divider {
            width: 5px;
            height: 26px;
            &.seconds .flipclock-label {
                right: -45px;
            }
            &.minutes .flipclock-label {
                right: -43px;
            }
            &.hours .flipclock-label {
                right: -36px;
            }
            &.days .flipclock-label {
                right: -34px;
            }
            .flipclock-dot.top {
                top: 17px;
            }            
            .flipclock-dot.bottom {
                bottom: 13px;
            }            
            .flipclock-dot {
                left: 0px;
                width: 3px;
                height: 3px;
            }
        }
        ul {
            padding: 0px;
            margin: 3px;
            width: 17px;
            height: 22px;
            border-radius: 2px;
            li {
                line-height: 22px;
                a div div.inn {
                    font-size: 19px;
                }
            }
        }
    }
}

// facebook buttons
div.fb-comments {
    // padding: 20px;
}
div.fb-like-container {
    padding: 15px;
}
div.fb-like-container,
div.fb-like {
    line-height: 1.27;
    display: inline-block;
}

/*
.pluginButton {
    text-align: left;
    display: inline-block;
    font-size: 11px;
    font-family: helvetica, arial, sans-serif;
    background: #4c69ba;
    background: linear-gradient(#4c69ba, #3b55a0);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
    cursor: pointer;
    direction: ltr;
    position: relative;
    margin-left: 2px;
    top: -1.2px;
    left: 1.1px;
    &:hover {
        background: #5b7bd5;
        background: linear-gradient(#5b7bd5, #4864b1);
        border-color: #5874c3 #4961a8 #41599f;
        box-shadow: inset 0 0 1px #607fd6;
    }    
    div {
        display: inline-block;
    }
    button {
        background: transparent;
        border: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        font-weight: bold;
        margin: 0;
        outline: none;
        padding: 0;
        text-shadow: 0 -1px 0 #354c8c;
        
        align-items: flex-start;
        text-align: center;
        box-sizing: border-box;        
        
    }
    .pluginButtonLabel {
        padding: 0 5px 0 0;
        position: relative;
        vertical-align: top;
        color: #fff;
    }
    .pluginButtonIconPlaceholder {
        display: block;
        height: 14px;
        width: 7px;
    }    
}
*/