/* You can add global styles to this file, and also import other style files */
body, html, app-root {
    height: 100vh;
}

.margin-left {
    margin-left: 4px;
}

.expland {
    width: 100%;
    height: 100%;
    position: relative;
}