<!-- First page: list of available albums -->
<div class="container margin-top-lg" *ngIf="!deploy">
    <div class="cnt-album card cursor-pointer inline-block margin hide-at-work"
         *ngFor="let album of cnt.albums"
         [routerLink]="'/deploy/album/'+album.slug"
         [ngStyle]="getAlbumStyle(album)"
         mdbWavesEffect
    >
        <!--img [id]="album.slug" [src]="album.preview.images.thumbnail" class="album-img"-->
    </div>
</div>

<deploy-album-page [hidden]="!deploy"></deploy-album-page>