
<!-- First page: list of available albums -->
<div class="container margin-top-lg" *ngIf="!deploy">
    <div class="cnt-card cursor-pointer inline-block margin" *ngFor="let album of cnt.albums" [routerLink]="'/deploy/album/'+album.slug" mdbWavesEffect>
        <img width="200" height="240" [id]="album.slug" [src]="album.preview.images.thumbnail" class="hide-at-work">
    </div>
</div>



<!-- Once the album is selected -->
<div class="display-flex flex-grow" [hidden]="!deploy">
    <ng-template comp-host></ng-template>

    <!--div class="container-fluid" [hidden]="!deploy">
        <div class="inventory-box">
            <div class="row">
                <div class="col" *ngFor="let slot of slots">
                    <slot-comp [data]="slot"></slot-comp>
                </div>
            </div>
        </div>
    </div-->
</div>
